* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

span {
    display: block;
}

.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.blog_detail {
    padding: 100px 0;
}

.blog_detail_cnt {
    display: flex;
    gap: 20px;
}

.blog_detail_img {
    width: 100%;
    max-width: 700px;
}

.blog_detail_img .supplier_img {
    width: 100%;
    margin-bottom: 25px;
}

.blog_detail_img h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    color: #1B1B1B;
    margin-bottom: 4px;
}

.blog_detail_img h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #A4A4A4;
    margin-bottom: 6px;
}

.blog_detail_img h4 span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
    margin-right: 8px;
    display: inline-block;
}

.blog_detail_img h4 img {
    margin-right: 10px;
}

.blog_detail_info {
    width: 100%;
}

.blog_detail p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 22px;
}


@media screen and (max-width: 767px) {
    .blog_detail {
        padding: 60px 0;
    }

    .blog_detail .container-fluid {
        max-width: 500px;
    }

    .blog_detail_cnt {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .blog_detail_cnt:last-child {
        flex-direction: column-reverse;
    }

    .blog_detail_img h3 {
        font-size: 22px;
        line-height: 30px;
    }

    .blog_detail_img h4 {
        font-size: 18px;
        line-height: 26px;
    }
}