* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none !important;
    display: block;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

span {
    display: block;
}

.container-fluid {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header-section */
.navspace {
    padding-right: 2rem;
    padding-left: 2rem;
}

.customicon {
    font-size: 25px !important;
    padding-right: 15px;
}

.navpadle {
    padding-left: 40px !important;
}

.navbar {
    font-size: 16px;
}

.navbar .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
    position: relative;
}

.navbar .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #C9A76D;
    bottom: 0;
    left: 0;
    display: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link.active {
    color: #C9A76D;
}

/* .navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link:active::after,
.navbar .navbar-nav .nav-link.active::after {
    display: block;
} */

.login {
    background: #EFA326;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
}

.popatlal {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 30px 0;
}

.inner-div1 {
    width: 120px;
    height: 78px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.inner-div1 img {
    width: 30px;
}

.welcome-back {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B0B0B0;
    margin: 30px 0;
    text-align: center;
}

.inner-div2 {
    width: 120px;
    height: 78px;
    background-color: #EFA326;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.inner-div2 img {
    width: 20px;
}

.inner-div3 {
    width: 120px;
    height: 78px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.inner-div3 img {
    width: 30px;
}

/* header-section */

/* modal-part */
.modal-dialog {
    width: 100%;
    max-width: 700px;
}

.modal-content {
    padding: 80px 50px;
    background: #F5F5F5;
    border: 2px solid #999999;
    border-radius: 20px;
}

.modal-content .btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    outline: none;
    box-shadow: none;
}

.modal-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
}

.modal-content form input {
    width: 100%;
    height: 70px;
    padding: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    background: #F1F1F1;
    border: 0px solid #000000;
    border-radius: 5px;
    outline: none;
}

.modal-content form .check-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.modal-content form .check-part p {
    display: flex;
    align-items: center;
}

.modal-content form .check-part input {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    margin: 0 10px 0 0;
}

.modal-content a.lost-pass {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}

.loginbtn-part {
    text-align: center;
    margin-bottom: 40px;
}

.modal-content .lrBtn {
    background: #EFA326;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    padding: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.modal-content h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.modal-content a.lr-cBtn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #EFA326;
}

#myModal .register-modal {
    display: none;
}

/* modal-part */

/* header section */
.header_content {
    width: 100%;
    background-image: url("../images/home1.svg");
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul li a:hover {
    background-color: #EFA326;
}

.main a {
    color: #ffffff;
}

.main {
    border-right: 1px solid #FFFFFF;
}

.main:last-child {
    border-right: none;
}

.navbar-brand {
    width: 20%;
}

.navbar-expand-lg .navbar-collapse {
    width: 80%;
    justify-content: space-between;
}

.lassi li a {
    color: #ffffff;
}


.lassi {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lassi li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    float: left;
    line-height: 56px;
    text-align: center;
    background: transparent;
    color: #ffffff;
    display: block;
    border-radius: 4px;
}

.ul1 {
    padding: 0px;
}

.main {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    float: left;
    width: 200px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: transparent;
    color: #ffffff;
    display: block;
    border-radius: 4px;
}

.sub {
    display: none;
}

.main:hover .sub {
    display: block;
}

.hemo_dd {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-right: 30px;
}

.example {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
}

.example input[type=text] {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    float: left;
    width: 80%;
    height: 56px;
    line-height: 56px;
    background: transparent;
    border: none;
    outline: none;
    ;
}

.example button {
    float: left;
    width: 20%;
    height: 56px;
    line-height: 56px;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

.example input::placeholder {
    color: #FFFFFF;
}

/* header section */


/* review section  */
.review_section {
    margin: 100px auto;
}

.review_compo {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 25px;
    gap: 20px;
}

.r_body {
    width: 100%;
    max-width: 560px;
}

.r_img {
    width: 100%;
    max-width: 293px;
}

.r_header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

#half-stars-example .rating-group {
    display: inline-flex;
}

.rating__icon {
    pointer-events: none;
}

.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

.rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

.rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
}

.rating__icon--star {
    color: orange;
}

.rating__icon--none {
    color: #eee;
}

.rating__input--none:checked+.rating__label .rating__icon--none {
    color: red;
}

.rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
}

.rating__input:hover~.rating__label .rating__icon--star,
.rating__input:hover~.rating__label--half .rating__icon--star {
    color: #ddd;
}

.rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
    color: #eee;
}

.rating__input--none:hover+.rating__label .rating__icon--none {
    color: red;
}


.r_sub_heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}

.first_line {
    display: flex;
    gap: 20px;
}

.address1 {
    display: flex;
}

.address {
    display: flex;
    align-items: center;
    gap: 5px;
}

.address img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

.address1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    width: 240px;
}

.contact {
    width: 200px;
    height: 40px;
    background: #EFA326;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}


.l_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* review section  */

@media screen and (max-width: 1400px) {

    /* header-section */
    .navpadle {
        padding-left: 60px !important;
    }
}

@media screen and (max-width: 1199px) {

    /* header-section */
    .navpadle {
        padding-left: 43px !important;
    }

    .navspace {
        padding-left: 25px;
        padding-right: 25px;
    }

    .login-option {
        margin: 0 auto;
    }

    .login {
        width: 100%;
    }

    /* header-section */
}

@media screen and (max-width: 991px) {

    /* header-section */
    .navpadle {
        padding-left: 0px !important;
    }

    .navbar-brand img {
        width: 70px;
    }

    .login-option {
        width: 100%;
    }

    .navbar-expand-lg .navbar-toggler {
        box-shadow: none;
    }

    .navbar .navbar-nav .nav-link::after {
        content: none;
    }

    .r_header {
        font-size: 17px;
    }

    .rating__label {
        font-size: 1rem;
    }

    .r_img {
        max-width: 193px;
    }

    .r_body p {
        font-size: 12px;
    }

    .r_sub_heading {
        margin-bottom: 8px;
    }

    .address1 {
        font-size: 12px;
        width: 170px;
    }

    .first_line {
        gap: 10px;
    }

    .first_line p {
        font-size: 12px;
    }
}

/* header-section */

@media screen and (max-width: 767px) {

    /* modal-part */
    .modal-dialog {
        max-width: 450px;
        width: auto;
        margin: 50px auto;
    }

    .modal-content {
        padding: 40px 20px;
    }

    .modal-content .btn-close {
        top: 15px;
        right: 15px;
        width: 5px;
        height: 10px;
    }

    .modal-content h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .modal-content form input {
        height: 55px;
        padding: 15px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .modal-content form .check-part {
        margin-bottom: 22px;
    }

    .modal-content form .check-part input {
        width: 17px;
        height: 17px;
    }

    .modal-content form .check-part p {
        font-size: 14px;
        line-height: 14px;
    }

    .modal-content a.lost-pass {
        font-size: 14px;
        line-height: 16px;
    }

    .modal-content .lrBtn {
        width: 280px;
        height: 50px;
        font-size: 16px;
        line-height: 24px;
        padding: 9px;
    }

    .loginbtn-part {
        margin-bottom: 25px;
    }

    .modal-content h4 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .modal-content a.lr-cBtn {
        width: 280px;
        height: 50px;
        font-size: 16px;
        line-height: 24px;
        padding: 12px;
    }

    /* modal-part */

    .main {
        width: 150px;
    }

    .example {
        width: 30%;
    }
}

@media screen and (max-width: 717px) {
    .contact {
        width: 100%;
    }

    .r_sub_heading {
        font-size: 12px;
    }

    .r_body p {
        font-size: 10px;
    }

    .r_header {
        font-size: 12px;
    }

    .r_header img {
        width: 10%;
    }

    .address1 {
        width: 113px;
        font-size: 11px;
    }

    .first_line {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .review_compo {
        gap: 10px;
        padding: 8px;
    }
}

@media screen and (max-width: 600px) {

    .container-fluid {
        max-width: 370px;
    }

    .header_content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .hemo_dd {
        margin-right: 0px;
    }

    .main {
        width: 150px;
    }

    .example {
        width: 100%;
        max-width: 300px;
    }

    .review_compo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .r_header {
        font-size: 16px;
    }

    .first_line {
        flex-direction: row;
        justify-content: space-between;
    }

    .l_body {
        gap: 10px;
    }

    .address1 {
        width: 80%;
    }

    .address img {
        height: auto;
    }
}